@{
    ViewBag.Title = "Recruitment";
}

@Scripts.Render("~/bundles/view/recruiting")

<div id="recruiting" ng-cloak ng-controller="recruitingCtrl">
    <h2>Recruitment</h2>

    <div ng-show="recruitmentClasses.length == 0">
        <div class="recruitment-closed">Recruitment is currently closed</div>
    </div>

    <div ng-show="recruitmentClasses.length > 0">
        <div class="recruitment-open">We're currently recruiting the following classes and specializations</div>
        <div id="recruitment-list">
            <div ng-repeat="class in recruitmentClasses">
                <div class="recruitment-class">
                    <div class="class-icon" ng-back-img="/Images/class-icons/{{class.Icon}}"></div>
                    <div class="class-name-spec">
                        <div ng-style="{color: '{{class.ClassColor}}'}">{{class.Class}}</div>
                        <div ng-show="class.Spec != null && class.Spec != ''" ng-style="{color: '{{class.ClassColor}}'}">- {{class.Spec}}</div>
                    </div>
                    <div class="class-priority" ng-style="{color: '{{class.PriorityColor}}'}">{{class.Priority}}</div>
                </div>
                <hr />
            </div>
        </div>
    </div>

</div>