/* Variables */
$color-dark: #333333;
$color-bright: #F0F0F0;
$hover-color: rgba(255, 255, 255, 0.2);

$box-shadow-light: 0 0 15px rgba(0, 0, 0, .4);
$box-shadow-dark: 0 0 15px rgba(0, 0, 0, 1);

[ng-cloak] {
    display: none!important
}

body {
    padding-top: 70px;
    background: #CCCCCC;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 410px) {
    .container {
        width: 380px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.body-content {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: $box-shadow-light;
    padding-left: 0;
    padding-right: 0;

    .main-content {
        padding: 15px;
    }
}

.renderbody {
    padding-left: 15px;
    display: inline-block;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

/* Top menu */
.navbar {
    background: $color-dark;
    box-shadow: $box-shadow-dark;
    border: none;

    a {
        color: $color-bright!important;
    }
}

/* Left side menu */

#left-side-menu {
    float: left;

    #left-nav-menu {
        background: $color-dark;
        width: 10em;
        margin-bottom: 15px;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            color: $color-bright;
            display: block;
            padding: 8px 12px;
            text-decoration: none;
        }
    }
}

/* Footer */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background: $color-dark;

    p {
        color: $color-bright;
        margin: 0;
    }
}

/* Overall fixes */
a:hover {
    background: $hover-color!important;

    $hover-delay: 250ms;
    $hover-animation: linear;
    -webkit-transition: background-color $hover-delay $hover-animation;
    -moz-transition: background-color $hover-delay $hover-animation;
    -o-transition: background-color $hover-delay $hover-animation;
    -ms-transition: background-color $hover-delay $hover-animation;
    transition: background-color $hover-delay $hover-animation;
}

h2 {
    margin: 0;
}

hr {
    margin: 0;
}

/* Set max-width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 300px;
}

/* Page specific for Frontpage */
#frontpage {

}

/* Page specific for Recruiting */
#recruiting {
    .recruitment-closed {
        color: #FF420E
    }

    .recruitment-open {
        margin-bottom: 10px;
    }

    #recruitment-list {
        margin-left: 16px;
    }

    .recruitment-class {
        margin-bottom: 5px;
        margin-top: 5px;
        
        .class-icon {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            box-shadow: 0 0 3px #000000, inset 0 0 5px #DDDDDD;
            border: 1px solid #AAAAAA
        }

        .class-name-spec {
            margin-left: 5px;
        }

        .class-priority {
            float: right;
            padding-top: 10px;
            padding-right: 15px;
        }
    }
}