/* Variables */
[ng-cloak] {
  display: none !important; }

body {
  background: #CCCCCC;
  font-family: 'Open Sans', sans-serif; }

@media (min-width: 550px) {
  .container {
    width: 520px; } }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: white; }

/* Main body */
.body-content {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
  .body-content .main-content {
    padding: 15px; }

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/* Logo */
.logo-headline {
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }

/* Top menu */
.navbar {
  background: #232323;
  box-shadow: 0 0 15px black;
  border: none;
  margin-bottom: 0;
  border-radius: 0; }
  .navbar a {
    color: #f0f0f0 !important; }

.navbar-right {
  margin-right: 0; }

.navbar-collapse {
  padding-left: 0;
  padding-right: 0; }

/* Footer */
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background: #232323;
  box-shadow: 0 0 15px black; }
  footer p {
    color: #f0f0f0;
    margin: 0; }

/* Overall fixes */
a:hover {
  background: rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear; }

h2 {
  margin: 0; }

hr {
  margin: 0;
  border-top: 1px solid #CCCCCC; }

/* Set max-width on the form input elements since they're 100% wide by default */
input, select, textarea {
  max-width: 300px; }

/* Page specific for Frontpage */
/* Page specific for Recruiting */
#recruiting .recruitment-closed {
  color: #ff420e; }
#recruiting .recruitment-open {
  margin-bottom: 10px; }
#recruiting #recruitment-list :last-child hr {
  display: none; }
#recruiting #recruitment-list .recruitment-class {
  margin-top: 8px;
  margin-bottom: 4px; }
  #recruiting #recruitment-list .recruitment-class .class-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 0 3px #000000, inset 0 0 5px #DDDDDD;
    border: 1px solid #AAAAAA;
    display: inline-block; }
  #recruiting #recruitment-list .recruitment-class .class-name-spec {
    margin-left: 5px;
    display: inline-block;
    vertical-align: top; }
  #recruiting #recruitment-list .recruitment-class .class-priority {
    display: inline-flex;
    float: right;
    padding-top: 10px;
    padding-right: 10px; }

